.progressBar {
  background-color: #ccc;
  width: 100%;
  height: 4px;
  border-radius: 5px;
}

.cardListContainer {
  /* max-width: 1440px;
  min-width: 420px; */
  margin: 0 auto;
  padding: 0 40px;
}
.cardList {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: 310px;
  padding: 0px 0;
}
.card {
  list-style: none;
  width: 100%;
  height: 280px;
  background-color: #eee;
  margin-right: 20px;
  border-radius: 0.5em;
  position: relative;
  top: 0;
  transition: all ease 0.3s;
}
.card:hover {
  box-shadow: 0 9px 9px #aaa;
  top: -10px;
}
.cardImage {
  width: 100%;
  height: 70%;
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cardBody {
  padding: 10px;
}
